<footer class="text-center text-white" style="background-color: rgb(62, 166, 33,0.275);">
    <!-- Copyright -->
    <div class="text-center text-dark  row" style="background-color: rgba(54, 130, 33, 0.13);">
        <div class="col d-flex justify-content-end mt-3">
            © 2020 Copyright: Group 6
        </div>
        <div class="col-md-6 d-flex justify-content-left mb-2 mt-2">
            <a class="d-block px-3">
                <h2><i class="bi bi-linkedin"></i></h2>
            </a>
            <a class="d-block px-3">
                <h2><i class="bi bi-twitter"></i></h2>
            </a>
            <a class="text-dark" href="https://github.com/BhushanMore3073">
                <h3><i class="bi bi-github"></i></h3>
            </a>
        </div>
    </div>
    <!-- Copyright -->
</footer>