<!-- Navbar -->

<nav class="navbar navbar-light bg-primary">
    <div class="d-flex inline-block w-100 text-center">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="navbar-brand mt-2">
                <h2 class="text-white">Inventory Manager</h2>
            </li>
        </ul>
        <p class="mt-4 text-white">Welcome {{adminname}}</p>
        <a class="button navigation" routerLink="">
            <img src="/assets/admin.png">
            <div class="logout">LOGOUT</div>
        </a>
    </div>
</nav>
<!-- second navbar -->
<div class="card text-center border-0">
    <div class="card-header d-flex justify-content-center">
        <ul class="nav nav-pills mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="mx-5">
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <!--submenu-->
                    <i class="fs-4 bi-cart3"></i><span class="ms-1 d-none d-sm-inline">Items</span>
                </a>
                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a class="nav-link px-0" (click)="addItems()"> <span class="d-none d-sm-inline">Add
                                Item</span></a>
                    </li>
                    <li>
                        <a (click)="viewItems()" class="nav-link px-0"> <span class="d-none d-sm-inline">View
                                Item</span></a>
                    </li>
                </ul>
            </li>
            <li class="mx-5">
                <a [routerLink]="['/admin-sales',adminname]" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Sales</span> </a>
            </li>
            <li class="mx-5">
                <a [routerLink]="['/admin-purchase',adminname]" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
            </li>
            <li class="mx-5">
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Vendors</span></a>
                <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a (click)="addVendor()" class="nav-link px-0"> <span
                                class="d-none d-sm-inline">Add
                                Vendor</span></a>
                    </li>
                    <li>
                        <a (click)="viewVendor()" class="nav-link px-0"> <span class="d-none d-sm-inline">View
                                Vendor</span></a>
                    </li>
                </ul>
            </li>
            <li class="mx-5">
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customer</span> </a>
                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a (click)="addCustomer()" class="nav-link px-0"> <span
                                class="d-none d-sm-inline">Add
                                Customer</span></a>
                    </li>
                    <li>
                        <a (click)="viewCustomer()" class="nav-link px-0"> <span class="d-none d-sm-inline">View
                                Customer</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- background -->


<!--   -->